apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend-container
          image: 17rj/perfume-ecom-mern-frontend:latest
          ports:
            - containerPort: 80 # port 80
          env:
            - name: VITE_API_URL
              value: "http://backend-service:5000/api"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: frontend
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80 # External Port
      targetPort: 80 # containerPort
  type: LoadBalancer
